# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-stak.desktop

[Desktop Entry]
Comment=Lightweight STRAKS Client
Exec=electrum-stak %u
GenericName=STRAKS Wallet
Icon=electrum-stak
Name=Electrum STRAKS Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/straks;

Name[ja]=electrum-stak
